*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.main {
    display: grid;
    grid-template-columns: .1fr 1fr .1fr ;
    grid-template-rows: .1fr 1fr .1fr ;
    min-height: 90vh;
}

.main-content {
    margin-top: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    max-height: 0;
    background-color: rgba(248, 248, 248, 0.63);
    box-shadow: -3px 2px 14px 1px rgba(0, 0, 0, 0.63);
    -webkit-box-shadow: -3px 2px 14px 1px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: -3px 2px 14px 1px rgba(0, 0, 0, 0.63);
}

.main-content {
    max-height: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: .4fr .05fr 1fr ;
}

.input {
    height: 30px;
}

.btn {
    box-shadow: -3px 2px 14px 1px rgba(0, 0, 0, 0.63);
    -webkit-box-shadow: -3px 2px 14px 1px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: -3px 2px 14px 1px rgba(0, 0, 0, 0.63);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.center-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.data-content {
    width: 98%;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

body {
  background: #e8cbc0;
  background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
  background: linear-gradient(to right, #e8cbc0, #636fa4);
  min-height: 100vh;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

.loader-cont {
  display: flex;
  justify-content: center;
}
.loader {
  width: 2.5em;
  height: 3em;
  border: 3px solid transparent;
  border-top-color: #fc2f70;
  border-bottom-color: #fc2f70;
  border-radius: 50%;
  animation: spin-stretch 2s ease infinite;
}

@keyframes spin-stretch {
  50% {
    transform: rotate(360deg) scale(0.4, 0.33);
    border-width: 8px;
  }
  100% {
    transform: rotate(720deg) scale(1, 1);
    border-width: 3px;
  }
}
